:root {
    --deep-space: #4A5759;
    --light-text: #EAE6E5;
    --gentle: #ad9f93;
    --lighter: #B9ADA2;
    --sky: #51B4CD;


}


* {
    background-color: var(--gentle);
    color: var(--light-text);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

h1 {
    background-color: var(--deep-space) ;
    max-width: fit-content;
    border: var(--gentle) 5px double;
}

h2 {
    color: var(--deep-space);
    font-style: italic;
}


header {
    margin: 0%;
    padding: 4px;
    background-color: var(--lighter);
}


nav {

    background-color: var(--lighter);
}

nav ul {
    background-color: var(--lighter);
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
}

li {
    background-color: var(--lighter);
}

.nav {
    color: yellow;
    background-color: var(--lighter);
}

#banner {
    width: 100%;
    height: 500px;
    background-image: url(./Placeholder-images/nice_coat.jpg);
    background-size: cover;
}


#about-me h2 {
    border-bottom: var(--sky) 2px solid;
}

#work h2 {
    border-bottom: var(--sky) 2px solid;
}

.projects {
    display: flex;
    flex-direction: column;
    width: 100%;

    
}

#Quizzes_and_Cocktails {
    width: 750px;
    height: 800px;
    background-image: url(./Placeholder-images/Quizzes&Cocktails.png);
    background-size: cover;
}

.coming_soon {
    width: 400px;
    height: 400px;
    background-image: url(./Placeholder-images/image_1.png);
}


}

@media (min-width: 768px) { 
    


 }

@media (min-width: 992px) { 

    nav ul {
        flex-direction: row;
        justify-content: space-between;
    }
  
    #banner {
        height: 800px;
    }

    #about-me h2 {
     float: left;
     border-bottom: 0;
     border-right: var(--sky) 2px solid;   
    }

    #horiseon {
        margin-right: 50%;
    }

    .projects {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        
    }

 }
